

.aboutWrap {
    display: grid;
    margin: 0 5em 0 5em;
    grid-area: content;
    grid-template-rows: 15% 85%;
    grid-template-areas: 
    "head"
    "body"
    ;
}

.aboutHeader {
    display: grid;
    text-align: center;
    white-space: nowrap;
    margin: 0 16em 0 16em;
    padding-bottom: -3em; 
    font-size: 1.8em;
    grid-area: head;
    h2 {
        margin-bottom: .1em;
    }
}


.bioWrap {
    text-align: center;
    font-size: 1.5em;
    padding: .5em;
    border: .2em solid #99999947;
    border-radius: 2em;
    line-height: 1.1em;
    display: grid;
    grid-area: body;
}