$fontStack: 'Josefin Sans', sans-serif;

body {
    font: 100% $fontStack;
    display: grid;
    grid-template-rows: 15% 85%;
    grid-template-areas: 
    "navi"
    "content"
    ;
}

.navWrap {
    display: grid;
    grid-area: navi;
    grid-template-rows: auto;
    grid-template-areas: 
    "bar"
    ;
}

.navBar {
    display: grid;
    grid-area: bar;
    grid-template-columns: 20% 80%;
    grid-template-areas: 
    "devDisplay links"
    ;
}

.devIcons {
    display: grid;
    grid-area: devDisplay;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
    "devPic"
    "devName"
    ;

    :nth-child(1) {
        grid-area: devPic;
        justify-self: center;
    }

    :nth-child(2) {
        grid-area: devName;
        justify-self: center;
    }
}

.linksSubGrid {
    display: grid;
    grid-area: links;
    margin-top: 2em;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas: 
    "tab1 tab2 tab3 tab4 tab5 tab6"
    ;
    @for $i from 1 through 6 {
        :nth-child(#{$i}) {
            display: grid;
            justify-self: center;
            grid-area: tab#{$i};
            grid-template-rows: 30% 70%;
            grid-template-areas:
            "upper#{$i}"
            "lower#{$i}"
            ;
            :nth-child(1) {
                display: grid;
                justify-self: center;
                margin-bottom: -2em;
                grid-area: upper#{$i};
                grid-row: auto;
                grid-template-areas: 
                "logo#{$i}"
                ;
                i {
                    grid-area: logo#{$i};
                }
            }
            :nth-child(2) {
                display: grid;
                margin-top: -1em;
                justify-self: center;
                grid-area: lower#{$i};
                grid-row: auto;
                grid-template-areas: 
                "tabText#{$i}"
                ;
                h5 {
                    grid-area: tabText#{$i};
                }
            }
        }
    }
}


