.navWrap {
    display: grid;
    grid-area: navi;
    grid-template-rows: auto;
    grid-template-areas: 
    "bar"
    ;
    .navBar {
        display: grid;
        grid-area: bar;
        background-color: rgba(119, 239, 255, 0.788);
        grid-template-columns: 1fr 2fr 1fr 9fr 1fr;
        box-shadow: 0 4px 2px -2px lightgray;
        max-height: 10em;
        grid-template-areas: 
        ". devDisplay . links ."
        ;
        .devIcons {
            display: grid;
            grid-area: devDisplay;
            grid-template-rows: 1fr 1fr;
            grid-template-areas: 
            "devName"
            "devPic"
            ;
            :nth-child(1) {
                grid-area: devName;
                white-space: nowrap;
                justify-self: center;
            }
        
            :nth-child(2) {
                grid-area: devPic;
                justify-self: center;
                :only-child {
                    border-radius: 100%;
                    border: solid 3px black;
                    background-color: white;
                    margin-top: -3em;
                    padding: 4em;                    
                }
            }
        }
        .linksSubGrid {
            display: grid;
            grid-area: links;
            margin-top: 3.3em;
            grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
            grid-template-areas: 
            "tab1 tab2 tab3 tab4 tab5 tab6"
            ;
            @for $i from 1 through 6 {
                :nth-child(#{$i}) {
                    display: grid;
                    justify-self: center;
                    grid-area: tab#{$i};
                    grid-template-rows: 30% 70%;
                    grid-template-areas:
                    "upper#{$i}"
                    "lower#{$i}"
                    ;
                    :nth-child(1) {
                        display: grid;
                        justify-self: center;
                        margin-top: -.5em;
                        grid-area: upper#{$i};
                        grid-row: auto;
                        font-size: 1.5em;
                        grid-template-areas: 
                        "logo#{$i}"
                        ;
                        i {
                            grid-area: logo#{$i};
                        }
                    }
                    :nth-child(2) {
                        display: grid;
                        justify-self: center;
                        grid-area: lower#{$i};
                        grid-row: auto;
                        font-size: .8em;
                        grid-template-areas: 
                        "tabText#{$i}"
                        ;
                        h5 {
                            grid-area: tabText#{$i};
                        }
                    }
                }
            }
        }
    }
}




