<div ng-controller="navCtrl">
    <div ng-click="toSplash()">
        <h1>Garrett Ward</h1>
    </div>
    <div ng-click="toSplash()">
        <i class="far fa-user"></i>
    </div>
    <div>
        <div ng-click="toProjects()">
            <i class="fas fa-code"></i>
            <h5>Projects</h5>
        </div>
        <div ng-click="toTech()">
            <i class="fas fa-wrench"></i>
            <h5>Technologies</h5>
        </div>
        <div ng-click="toLinkedIn()">
            <i class="fab fa-linkedin"></i>
            <h5>LinkedIn</h5>
        </div>
        <div ng-click="toGitHub()">
            <i class="fab fa-github-alt"></i>
            <h5>Github</h5>
        </div>
        <div ng-click="toPdf()">
            <i class="far fa-list-alt"></i>
            <h5>Resume</h5>
        </div>
        <div ng-click="toSendMail()">
            <i class="far fa-envelope"></i>
            <h5>Email</h5>
        </div>
    </div>
</div>