<div ng-controller="navCtrl">
    <div>
        <h1>Garrett Ward</h1>
    </div>
    <div>
        <i class="far fa-user"></i>
    </div>
    <div>
        <div>
            <i class="fas fa-code"></i>
            <h5>Projects</h5>
        </div>
        <div>
            <i class="fas fa-wrench"></i>
            <h5>Technologies</h5>
        </div>
        <div>
            <i class="fab fa-linkedin"></i>
            <h5>LinkedIn</h5>
        </div>
        <div>
            <i class="fab fa-github-alt"></i>
            <h5>Github</h5>
        </div>
        <div>
            <i class="far fa-list-alt"></i>
            <h5>Resume</h5>
        </div>
        <div>
            <i class="far fa-envelope"></i>
            <h5>Email</h5>
        </div>
    </div>
</div>