.navWrap {
  display: grid;
  grid-area: navi;
  grid-template-rows: auto;
  grid-template-areas: "bar"; }
  .navWrap .navBar {
    display: grid;
    grid-area: bar;
    grid-template-columns: 20% 80%;
    grid-template-areas: "devDisplay links"; }
    .navWrap .navBar .devIcons {
      display: grid;
      grid-area: devDisplay;
      grid-template-rows: 1fr 1fr;
      grid-template-areas: "devPic" "devName"; }
      .navWrap .navBar .devIcons :nth-child(1) {
        grid-area: devPic;
        justify-self: center; }
      .navWrap .navBar .devIcons :nth-child(2) {
        grid-area: devName;
        justify-self: center; }
    .navWrap .navBar .linksSubGrid {
      display: grid;
      grid-area: links;
      margin-top: 2em;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
      grid-template-areas: "tab1 tab2 tab3 tab4 tab5 tab6"; }
      .navWrap .navBar .linksSubGrid :nth-child(1) {
        display: grid;
        justify-self: center;
        grid-area: tab1;
        grid-template-rows: 30% 70%;
        grid-template-areas: "upper1" "lower1"; }
        .navWrap .navBar .linksSubGrid :nth-child(1) :nth-child(1) {
          display: grid;
          justify-self: center;
          margin-bottom: -2em;
          grid-area: upper1;
          grid-row: auto;
          grid-template-areas: "logo1"; }
          .navWrap .navBar .linksSubGrid :nth-child(1) :nth-child(1) i {
            grid-area: logo1; }
        .navWrap .navBar .linksSubGrid :nth-child(1) :nth-child(2) {
          display: grid;
          margin-top: -1em;
          justify-self: center;
          grid-area: lower1;
          grid-row: auto;
          grid-template-areas: "tabText1"; }
          .navWrap .navBar .linksSubGrid :nth-child(1) :nth-child(2) h5 {
            grid-area: tabText1; }
      .navWrap .navBar .linksSubGrid :nth-child(2) {
        display: grid;
        justify-self: center;
        grid-area: tab2;
        grid-template-rows: 30% 70%;
        grid-template-areas: "upper2" "lower2"; }
        .navWrap .navBar .linksSubGrid :nth-child(2) :nth-child(1) {
          display: grid;
          justify-self: center;
          margin-bottom: -2em;
          grid-area: upper2;
          grid-row: auto;
          grid-template-areas: "logo2"; }
          .navWrap .navBar .linksSubGrid :nth-child(2) :nth-child(1) i {
            grid-area: logo2; }
        .navWrap .navBar .linksSubGrid :nth-child(2) :nth-child(2) {
          display: grid;
          margin-top: -1em;
          justify-self: center;
          grid-area: lower2;
          grid-row: auto;
          grid-template-areas: "tabText2"; }
          .navWrap .navBar .linksSubGrid :nth-child(2) :nth-child(2) h5 {
            grid-area: tabText2; }
      .navWrap .navBar .linksSubGrid :nth-child(3) {
        display: grid;
        justify-self: center;
        grid-area: tab3;
        grid-template-rows: 30% 70%;
        grid-template-areas: "upper3" "lower3"; }
        .navWrap .navBar .linksSubGrid :nth-child(3) :nth-child(1) {
          display: grid;
          justify-self: center;
          margin-bottom: -2em;
          grid-area: upper3;
          grid-row: auto;
          grid-template-areas: "logo3"; }
          .navWrap .navBar .linksSubGrid :nth-child(3) :nth-child(1) i {
            grid-area: logo3; }
        .navWrap .navBar .linksSubGrid :nth-child(3) :nth-child(2) {
          display: grid;
          margin-top: -1em;
          justify-self: center;
          grid-area: lower3;
          grid-row: auto;
          grid-template-areas: "tabText3"; }
          .navWrap .navBar .linksSubGrid :nth-child(3) :nth-child(2) h5 {
            grid-area: tabText3; }
      .navWrap .navBar .linksSubGrid :nth-child(4) {
        display: grid;
        justify-self: center;
        grid-area: tab4;
        grid-template-rows: 30% 70%;
        grid-template-areas: "upper4" "lower4"; }
        .navWrap .navBar .linksSubGrid :nth-child(4) :nth-child(1) {
          display: grid;
          justify-self: center;
          margin-bottom: -2em;
          grid-area: upper4;
          grid-row: auto;
          grid-template-areas: "logo4"; }
          .navWrap .navBar .linksSubGrid :nth-child(4) :nth-child(1) i {
            grid-area: logo4; }
        .navWrap .navBar .linksSubGrid :nth-child(4) :nth-child(2) {
          display: grid;
          margin-top: -1em;
          justify-self: center;
          grid-area: lower4;
          grid-row: auto;
          grid-template-areas: "tabText4"; }
          .navWrap .navBar .linksSubGrid :nth-child(4) :nth-child(2) h5 {
            grid-area: tabText4; }
      .navWrap .navBar .linksSubGrid :nth-child(5) {
        display: grid;
        justify-self: center;
        grid-area: tab5;
        grid-template-rows: 30% 70%;
        grid-template-areas: "upper5" "lower5"; }
        .navWrap .navBar .linksSubGrid :nth-child(5) :nth-child(1) {
          display: grid;
          justify-self: center;
          margin-bottom: -2em;
          grid-area: upper5;
          grid-row: auto;
          grid-template-areas: "logo5"; }
          .navWrap .navBar .linksSubGrid :nth-child(5) :nth-child(1) i {
            grid-area: logo5; }
        .navWrap .navBar .linksSubGrid :nth-child(5) :nth-child(2) {
          display: grid;
          margin-top: -1em;
          justify-self: center;
          grid-area: lower5;
          grid-row: auto;
          grid-template-areas: "tabText5"; }
          .navWrap .navBar .linksSubGrid :nth-child(5) :nth-child(2) h5 {
            grid-area: tabText5; }
      .navWrap .navBar .linksSubGrid :nth-child(6) {
        display: grid;
        justify-self: center;
        grid-area: tab6;
        grid-template-rows: 30% 70%;
        grid-template-areas: "upper6" "lower6"; }
        .navWrap .navBar .linksSubGrid :nth-child(6) :nth-child(1) {
          display: grid;
          justify-self: center;
          margin-bottom: -2em;
          grid-area: upper6;
          grid-row: auto;
          grid-template-areas: "logo6"; }
          .navWrap .navBar .linksSubGrid :nth-child(6) :nth-child(1) i {
            grid-area: logo6; }
        .navWrap .navBar .linksSubGrid :nth-child(6) :nth-child(2) {
          display: grid;
          margin-top: -1em;
          justify-self: center;
          grid-area: lower6;
          grid-row: auto;
          grid-template-areas: "tabText6"; }
          .navWrap .navBar .linksSubGrid :nth-child(6) :nth-child(2) h5 {
            grid-area: tabText6; }

/*# sourceMappingURL=navBar.css.map */
